@using ERPS.Core.Entities
@model Status
@section title {
	<div class="display-4">Status: @Model.Description</div>
}
@{
	Layout = "_Layout";
}
<div class="text-center">
	<h1 class="display-4">Status: @Model.Description</h1>
	<br />
</div>
