<div class="text-center">
    <h1 class="display-4">Status</h1>
    <br />

    <ul>
        <li>
            <a href="/status/edit/1">ACTIVE</a>
        </li>
        <li>
            <a href="/status/edit/2">IN-ACTIVE</a>
        </li>
    </ul>
</div>