@using ERPS.Core.Entities
@model List<Status>
@section title {
	<div class="display-5">Status</div>

}
@if (@Model != null && @Model.Count > 0)
{
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">ID</th>
				<th scope="col">Description</th>
				<th scope="col">Active?</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var status in @Model)
			{
				<tr>
					<th scope="row">
						<a type="button" class="btn btn-outline-secondary btn-sm" href="/status/edit/@status.ID">Edit</a>
					</th>
					<th scope="row">@status.ID</th>
					<td>@status.Description</td>
					<td>
						<input class="form-check-input" type="checkbox" checked="@status.IsActive" onclick="return false;">
					</td>
				</tr>
			}

		</tbody>
	</table>
}
